.bg{
    background-image: url('https://img.freepik.com/premium-photo/top-view-desk-with-notepad-clock_23-2148284278.jpg?w=826');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}